<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form action="/" method="post">
      name = <input type="text" name="name">
      firstName = <input type="text" name="firstName">
      age = <input type="text" name="age">
      <input type="submit" value="post">
    
    </form>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
